@model dynamic

@{
    ViewBag.Title = "Rezerwacja";
    Layout = "_Layout";
}

<h2>Rezerwacja</h2>
<form asp-action="ReserveItem" asp-controller="Vehicles" class="d-flex flex-column">
    <div class="d-flex flex-row">
        <p>Od</p><input type="date" name="Begin"/>
        <p>do</p><input type="date" name="End"/>
    </div>
    <input type="text" style="display: none;" value="@Model.VehicleId" name="VehicleId"/>
    <input type="submit" value="Zarezerwuj"/>
</form>
