@{
    ViewData["Title"] = "ATH Bike Rental System";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">ATH Bike Rental System</h1>
</div>
<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eleifend nulla eget nibh accumsan dictum. Duis eu blandit erat. In a est eu leo vehicula ultricies. Donec viverra massa ut mi rutrum suscipit vitae at purus. Nullam sed euismod risus. Pellentesque nec aliquet nisl. Nullam ac tellus a augue consectetur condimentum. Quisque vulputate magna eu erat pretium rhoncus. In ultricies blandit elit nec varius. Cras fermentum eget augue et pulvinar. Aliquam fermentum eleifend orci, a semper metus aliquam vel. Morbi non sapien a elit cursus convallis ut quis nulla. Proin leo erat, euismod eget fringilla a, sodales in nibh. Mauris lobortis lacus mauris, ut suscipit mi accumsan sit amet.</p>
    <p>Nulla a ante vel est aliquet consectetur non gravida dolor. Cras blandit enim ac turpis vulputate mollis. Integer turpis lectus, posuere eget metus sit amet, commodo malesuada mauris. Praesent a vulputate elit. Praesent ultrices nisl vitae mi ultrices congue. Vivamus vitae iaculis ligula. Vivamus vehicula non quam eget tempor. Phasellus magna lorem, aliquet quis quam eu, luctus egestas lectus. Mauris aliquam congue diam, vitae auctor orci. Vestibulum non ex vel mauris egestas suscipit. Nulla eget ultricies lectus, vitae aliquet lacus. In semper vitae ligula nec pulvinar. Maecenas egestas ornare turpis, et aliquet lectus venenatis sit amet.</p>
</div>

<div class="d-flex flex-row">
    <img src="img/12162_1.jpg" alt="rower" class="w-50"/>
    <img src="img/pol_pl_Rower-elektryczny-NS-Bikes-E-Fine-2-27-5-29-13156_3.jpg" alt="rower"  class="w-50"/>
    <img src="img/ns-bikes-define-al-130-2-2-156862-f-sk6-w1550-h1080.png" alt="rower" class="w-50"/>
</div>